<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
   <form action="/guardar_informacion" method="POST">
       <label>nombre</label>
       <input type="text" id="name" placeholder="name" name="name" required>
       <label>color</label>
      <input type="color" id="color" placeholder="color" name="color" required>
       <label>raza</label>
       <input type="text" id="race" placeholder="race" name="race" required>
       <label>edad</label>
       <input type="number" id="age" placeholder="age" name="age" required>
       <input type="submit" value="ingresar">
   </form>
</body>
</html>